log/*.log
log/call_graph.html
tmp/**/*
doc/api
doc/app
doc/plugins
public/cache/**/*
*.sqlite3.db
*.sqlite3
*-bak.*
db/schema.rb
config/database.yml
config/smtp_settings.rb
config/flowplace_config.rb
tsestate.kbd
.DS_Store