<% currency_account = play
currency = currency_account.currency;
player_class = currency_account.player_class
play_names = currency.api_play_names(player_class)
play_name = play_names[0]
%>
<% if play_name %>
<ul id="play_names">
  <% for name in play_names%>
    <li><%= playtab(name,currency_account) %></li>
  <% end %>
</ul>
  <%= render_play_form(currency,currency_account,play_name)%>
<% else %>
  No plays available in this currency
<% end %>