<ul id="sub_nav">
  <li><%= sub_nav_link 'Currencies',dashboard_path,'Currencies'%></li>
  <li><%= sub_nav_link 'Activity',dashboard_activity_path,'Activity'%></li>
  <%if @currency && @play%><li><p>Play</p></li><%end%>
</ul>
<p class="clear">