<% @title='Join Currency' %>
<h3>Join Currency</h3>

<% if @joinable_currencies.empty?%>
  There are no currencies you can join
<% else %>
  <% form_for(@currency_account) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :currency_id %><br />
      <%= f.select(:currency_id, currencies_list_for_select(@joinable_currencies), { :include_blank => @currency_account.new_record? }) %>
    </p>

    <p>
      <%= f.submit "Join" %>
    </p>
  <% end %>
<% end %>
