<% @title="My Currencies #{@currency.name}: #{@play_name}" %>
<%= render(:partial => 'sub_nav') %>
<% if !@play_name %>
There are no plays in this currency.
<% else %>
  <%= render(:partial => 'play_tabs') %>
  <div id="make_play">
    <%= render_play_form(@currency,@currency_account,@play_name)%>
  </div>
<%end%>