<% @title='My Currencies '+@currency.name %>
<h3>My Currencies: <%=@currency.name%></h3>

<%= @currency.api_render_account_state(@currency_account)%>
<div id="make_play">
  <%= render_play_form(@currency,@currency_account)%>
</div>