<% @title='My Currencies '+@currency.name %>
<%= render(:partial => 'sub_nav') %>
<h3>Enter a play in: <%=@currency.name%></h3>

<%= @currency.api_render_player_state(@currency_account)%>
<div id="make_play">
  <%= render_play_form(@currency,@currency_account)%>
</div>