<p>
  <b>Currency account:</b>
  <%=h @play.currency_account_id %>
</p>

<p>
  <b>Content:</b>
  <%=h @play.content %>
</p>


<%= link_to 'Edit', edit_play_path(@play) %> |
<%= link_to 'Back', plays_path %>
