.dashboard_item {
	display: block;
	margin: 5px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 5px;
	background: #eee;
	border: 1px solid #999;
	overflow: auto;
	-moz-border-radius:10px;
	border-radius:10px;	
}

.dashboard_title {
	margin-top: 0px;
	margin-bottom: 2px;
}
.dashboard_explanation {
	margin-left: 30px;
}
.dashboard_description {
}

.dashboard_note {
	font-style: italic;
}

#dashboard_content ul {
	margin-top:5px;
}

.dashboard_play {
}

.dashboard_play h3 {
	margin: 10px;
	font-size: 10pt;
}

.ditem_left {
    float: left;
    width: 200px;
}
.ditem_right {
    float: right;
    width: 250px;
}
.ditem_middle {
    padding: 0px 260px 5px 210px;
    margin: 0px;
}

.dashboard_item ul.play_names {
	margin: 3px;
}

.dashboard_item ul.play_names li a {
	border:1px solid black;
	-moz-border-radius:5px;
	border-radius:5px;	
	margin:2px;
	padding:3px 10px;
}