
/*  	Default Projcet CSS      */


/* ---------LAYOUT---------- */

.wrap_to_center {
  margin: 0 auto;
  display: block;
  width: 950px;
}


#top_bar {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	border: 1px solid #000066;
	background-color: #444444;
}


#header {
	height: 50px;
	width: 950px;
	color: #A3B15A;
	font-weight: bold;
	font-size: 14pt;	
	font-family: Verdana,Arial,sans serif;
}
#header p {
	float:left;
}
#header img {
	float:right;
}
#login_stuff {
	margin-right: 5px;
	font-size: 8pt;
	float:right;
	color:white;
}
#login_stuff a {
	font-size: 8pt;
	color:white;
}

	/* ----------NAVIGATION TEXT---------- */


#nav {
	font-size: 9pt;
	margin:0px 0px 0px 0px;
	padding:0px;
	font-weight: normal;
}
	
#nav a:link {
	color: #ffffff;
	text-decoration: none;
	}

#nav a:active {
	color: #ffffff;
	}

#nav a:visited {
	color: #ffffff;
	text-decoration: none;
	}
	
#nav a:hover {
	color: white;
	text-decoration: none;
	border-color: #70787F;
	}

ul#nav {float:right;display:block;margin-top:35px;list-style:none;}
ul#nav li {display:block;float:left;}
ul#nav li a {display:block;float:left;margin:0px;padding: 0 10px;}
ul#nav li a:hover {background: gray;}
ul#nav li a.active {background: white;color:#000000;}
ul#nav li.last a {margin-right:0;}

#page_content {
	float:left;
	width: 950px;
	margin-top: 0px;
	padding-left: 6px;
	padding-right: 6px;
	background-color:  #FFFFFF;	
}
#footer {
	margin-top: 10px;
	float:right;
	font-size: .8em;
	width: 800px;
}
#email_form #footer {
	margin-top: 30px;
	float:left;
}
#email_form label {
	width: 60px;
	float:left;
}
#email_form #buttons {
	margin-left: 60px;
}
#notice {
	border: 1px solid #000066;
	padding: 4px;
	margin-bottom: 10px;
	background-color: #A3B15A;
}

#tip {
	background-color: #A399FF;
	border: 2px solid #000066;
	padding: 4px;
	margin-bottom: 10px;
}

fieldset {
	border: 1px solid #777;
	margin:0em 0em 0em 0em;
	padding:0px 10px 0px 10px;
	display:inline;
}
/* ---------- Fieldset (used in login) --------- */
#log_in_content fieldset label {
	display:block;
	float:left;
	margin-right:0.5em;
	text-align:right;
	width:8em;
}

fieldset p {
	margin: 2px;
}

.field_label {
	vertical-align: top;
}

/* ----------COLORS AND TEXT STYLES---------- */

body {
	font-family: Verdana,Arial,sans serif;
	font-size: 10pt;
	color: #000066;
	margin: 0;
	background-color: #EEEEEE;
/*	background-image: url("/images/background.gif");
  	background-repeat: no-repeat;	*/
 }
body.enlargeFont {
	font-size: 12pt;
}
body#email_form {
	background-image: none;
}

a:link    {color: #3333CC;}
a:active  {color: #6666FF;}
a:visited {color: #333399;}


#footer p {
	font-size: .8em;
	text-align: center;
}

.float_right {
	float: right;
	clear:both;
}
.float_left {
	float: left;
	clear:both;
}
.clear {
	clear:both;
}

.endnote {
	font-size: .8em;
	line-height: .8em;
	vertical-align: top;
}


.smalltext {
	font-size: .8em;
}

.submit_button {
	margin-top: 10px;
}

/* ---------- RIGHT BOXES ---------- */
p.box_title {
	margin-top: 0;
	margin-bottom: 4px;
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid #AAAAAA;
}

/* ---------- proposals ---------- */

#intention_proposals_box {
	float: right;
	border: 1px solid #000066;
	padding: 4px;
	width: 300px;
}
p.intention_proposal_source {
	margin-bottom: 0;
}

p.intention_proposal_description {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 10px;
}

/* ---------- ACTIVITIES ---------- */

#activities_box {
	float: right;
	border: 1px solid #000066;
	padding: 4px;
	width: 200px;
}
p.activity {
	margin-bottom: 0;
}
	
/* ----------HIERARCHICAL LIST---------- */
ul.item_list {
	padding: 0px 0px 0px 0px;
	margin-top:0em; margin-bottom:0em; margin-left:0em; margin-right:0em;
	} 

li.item {
	list-style:none;
}

/* --------------TAG CLOUT ---------------------*/
#intention_tag_cloud {
	float: right;
	border: 1px solid #000066;
	padding: 4px;
	width: 250px;
	margin-bottom: 10px;
}
.css1 { font-size: .7em;}
.css2 { font-size: 1.0em; }
.css3 { font-size: 1.3em; }
.css4 { font-size: 1.6em; }

/* ----------NOT SURE WHAT THESE ARE FOR---------- */

fieldset.admin {
	padding: 10px 10px 10px 10px;
	background-color: #EEEEEE;
	line-height: .5em;
}

.emphasize {
	font-weight:bold;
}

.no_border {
	border:none;
}

fieldset.search_box {
	padding-top: 5px;	
	padding-bottom: 5px;
}
fieldset.search_box p {
	margin-top: 5px;
	margin-bottom: 5px;
}
img.clickable {
	cursor:pointer;
}

.pagination {
	margin-top: 20px;
	text-align: center;
}

.inline_area .question {
	display:inline;
}

.small_text {
	font-size: 86%;
}

.centered_text {
	width: 600px;
	margin: 20px auto 0 auto;
}
.centered_text.short {
	width: 170px;
	margin: 10px auto 0 auto;
}

.stats_filters td {
	padding: 5px;
	padding-top: 8px;
}

#hide_me_with_css {
	display: none;
}
