
/*  	Default Projcet CSS      */


/* ---------LAYOUT---------- */

.wrap_to_center {
  margin: 0 auto;
  display: block;
  width: 950px;
}

#flowplace_bar {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	background-color: #000;
	height: 28px;
	border-bottom: 1px solid #AAAAAA;
}

img
{  border-style: none;
}

#top_bar {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	height: 35px;
}


#header {
	width: 960px;
	color: #fff;
	font-weight: bold;
	font-family: Verdana,Arial,sans serif;
}

#flowplace_bar img.logo {
	float: right;
}

#header a {
	margin-right: 5px;
	float:right;
	color: #A6AAAB;
}

#circle_logo {
	float:left;
}
#circle_header_name {
	float:left;
	margin-left: 10px;
	padding-top: 4px;
	font-size: 16pt;
}
#circle_jump_select {
	font-size: 10pt;
	font-weight: normal;
	float:right;
}

#login_stuff {
	background: #555;
	margin: 0px;
	margin-left: 9px;
	width: auto;
	font-size: 8pt;
	float:right;
	color:white;
}
#login_stuff a {
	font-size: 8pt;
	color:white;
}
#login_stuff img {
	margin-right: 7px;
	margin-left: 7px;
	
	float:right;
}
#login_links {
	float: right;
	padding-top: 6px;
	padding-left: 5px;
}

/* ----------STANDARD TABLE---------- */

td {
	padding: 1px 15px;
}

tr.odd {
	background: #f0FFFF;
}

th {
	padding: 1px 15px;
	background: #aaa;
}

/* ----------NAVIGATION TEXT---------- */


#nav {
	font-size: 9pt;
	margin:0px 0px 0px 0px;
	padding:0px;
	font-weight: normal;
}
	
#nav a:link {
	color: #ffffff;
	text-decoration: none;
	}

#nav a:active {
	color: #ffffff;
	}

#nav a:visited {
	color: #ffffff;
	text-decoration: none;
	}
	
#nav a:hover {
	color: white;
	text-decoration: none;
	border-color: #70787F;
	}

ul#nav {float:right;display:block;margin-top:20px;list-style:none;}
ul#nav li {display:block;float:left;}
ul#nav li a {display:block;float:left;margin:0px;padding: 0 10px;}
ul#nav li a:hover {background: gray;}
ul#nav li a.active {background: white;color:#000000;}
ul#nav li.last a {margin-right:0;}

	/* ----------Sub NAVIGATION TEXT---------- */


#sub_nav {
	font-size: 9pt;
	margin:0px 0px 0px 0px;
	padding:0px;
	font-weight: normal;
}

#sub_nav a:link,#sub_nav a:active,#sub_nav a:visited, #sub_nav p {
	color: #ffffff;
	text-decoration: none;
	height:22px;
	padding: 4px 10px 0 10px;
	
	}
	
#sub_nav a:hover {
	color: white;
	text-decoration: none;
	border-color: #70787F;
	}


ul#sub_nav {display:block;margin:0px;height: 25px;list-style:none;height:px;}
ul#sub_nav li {display:block;float:left;background: #686d6e;}
ul#sub_nav li a {display:block;float:left;margin:0px;}
ul#sub_nav li a:hover {background: gray;}
ul#sub_nav li a.active {background: #02687F;}
ul#sub_nav li p {margin:0px 0px 0px 0px;background: #02687F;}  /*active non-clickable item*/
ul#sub_nav li.last a {margin-right:0;}
ul#sub_nav li p.thing {
	background: white;
	color: #000;
	padding-left: 20px;
	font-weight: bold;
}


	/* ----------PLAY LINKS TEXT---------- */


#play_names {
	font-size: 9pt;
	margin:0px 0px 0px 0px;
	padding:0px;
	font-weight: normal;
}

#play_names a:link {
	color: #ffffff;
	text-decoration: none;
	}

#play_names a:active {
	color: #ffffff;
	}

#play_names a:visited {
	color: #ffffff;
	text-decoration: none;
	}
	
#play_names a:hover {
	color: white;
	text-decoration: none;
	border-color: #70787F;
	}

ul#play_names {display:block;margin-top:0px;padding-bottom:5px;list-style:none;}
ul#play_names li {display:block;float:left;background: #686d6e;}
ul#play_names li a {display:block;float:left;margin:0px;padding: 0 10px;}
ul#play_names li a:hover {background: gray;}
ul#play_names li a.active {background: #02687F;color:#ffffff;}
ul#play_names li p {margin:0px 0px 0px 0px;background: blue;color:#ffffff;padding: 0 10px;}  /*active non-clickable item*/
ul#play_names li.last a {margin-right:0;}

#page_content {
  min-height: 500px;
	float:left;
	width: 950px;
	margin-top: 0px;
	padding-left: 6px;
	padding-right: 6px;
	background-color:  #FFFFFF;	
}

#footer {
	color: #aaa;
	margin-top: 10px;
	float:right;
	font-size: .8em;
	width: 800px;
}
#email_form #footer {
	margin-top: 30px;
	float:left;
}
#email_form label {
	width: 60px;
	float:left;
}
#email_form #buttons {
	margin-left: 60px;
}
#notice {
	border: 1px solid #000066;
	padding: 4px;
	margin-bottom: 10px;
	background-color: #A3B15A;
}
#action_error {
	border: 1px solid #F00;
	padding: 4px;
	margin-bottom: 10px;
	background-color: #FF00FF;
}
#tip {
	background-color: #A399FF;
	border: 2px solid #000066;
	padding: 4px;
	margin-bottom: 10px;
}

.errortext, .errortext a {
	color: #CC0033;
}

fieldset {
	border: 1px solid #4C3366;
	margin:0em 0em 2em 0em;
	padding:0px 10px 0px 10px;
	.padding:  10px;
	display:inline;
}

/* -------------- DASHBOARD -------------------*/
fieldset.play_form  {
	margin:0em 0em 0em 0em;
}
/* ---------------------------------*/

.aligned_label label {
	display:block;
	float:left;
	margin-right:0.5em;
	text-align:right;
}
.aligned_label label.left_indent {
	margin-left:1em;
}

.aligned_label.simple_fieldset {
	display:block;
	border: 0px;
}

.aligned_label.simple_fieldset label {
	width:12em;
}
.aligned_label.login label {
	width:7em;
}

.aligned_label.new_user_contact_info {
	width: 480px;
}

.aligned_label.new_user_contact_info label {
	width:  8em;
	text-align: left;
}

fieldset.new_user_contact_info p{
    float: left;
    clear:both;
    margin-bottom: 0px;
    margin-top: 3px;
    width: 480px;
}	
fieldset.new_user_contact_info p.bottom{
    margin-bottom: 10px;
}	

/* ---------- Fieldset (used in login) --------- */
#log_in_content fieldset label {
	display:block;
	float:left;
	margin-right:0.5em;
	text-align:right;
	width:8em;
}

fieldset p {
	margin: 2px;
}

.field_label {
	vertical-align: top;
}

/* ----------COLORS AND TEXT STYLES---------- */

body {
	font-family: Verdana,Arial,sans serif;
	font-size: 10pt;
	color: #000066;
	margin: 0;
	background-color: #aaa;
	background-image: url("/images/background.jpg");
	background-repeat: repeat-y;
 }
body.enlargeFont {
	font-size: 12pt;
}
body#email_form {
	background-image: none;
}

a:link    {color: #3333CC;}
a:active  {color: #6666FF;}
a:visited {color: #333399;}


#footer p {
	font-size: .8em;
	text-align: center;
}

#footer a {
	color: #aaa;
}


.float_right {
	float: right;
	clear:both;
}
.float_left {
	float: left;
	clear:both;
}
.clear {
	clear:both;
}

.endnote {
	font-size: .8em;
	line-height: .8em;
	vertical-align: top;
}


.smalltext {
	font-size: .8em;
}

.submit_button {
	margin-top: 10px;
}
/* ---------- RIGHT BOXES ---------- */
p.box_title {
	margin-top: 0;
	margin-bottom: 4px;
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid #AAAAAA;
}

/* ---------- HOLOPTIVIEW ---------- */

p.holoptiview_box_title {
	margin-top: 0;
	margin-bottom: 4px;
	text-align: center;
	font-weight: bold;
	border-top: 1px solid #AAAAAA;
}

.holoptiview_box {
	width: 400px;
	margin-bottom: 20px;
}
#holoptiview td {
	vertical-align: top;
}
td.holoptiview_my {
	vertical-align: top;
}

/* ---------- ACTIVITIES ---------- */

.activity img {
float:left;
}

img.gravitar {
	margin: 2px;
	padding: 1px;
	border: 1px solid #aaaaaa;
}

.activity {
	margin-bottom: 5px;
	font-size: .8em;
}

/* ---------- proposals ---------- */

#intention_proposals_box {
	float: right;
	border: 1px solid #000066;
	padding: 4px;
	width: 300px;
}
p.intention_proposal_source {
	margin-bottom: 0;
}

p.intention_proposal_description {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 10px;
}


/* ----------HIERARCHICAL LIST---------- */
ul.item_list {
	padding: 0px 0px 0px 0px;
	margin-top:0em; margin-bottom:0em; margin-left:0em; margin-right:0em;
	} 

li.item {
	list-style:none;
}

/* --------------TAG CLOUD ---------------------*/
#intention_tag_cloud {
	float: right;
	border: 1px solid #000066;
	padding: 4px;
	width: 250px;
	margin-bottom: 10px;
}
.css1 { font-size: .7em;}
.css2 { font-size: 1.0em; }
.css3 { font-size: 1.3em; }
.css4 { font-size: 1.6em; }

/* ---------- CURRENCIES ---------- */

#currency_type_descrption fieldset {
	padding: 10px;
	background-color: #EEEEEE;
}
#currency_type_descrption legend {
	font-weight: bold;
}

/* ----------- CIRCLES ----------- */
#circle_players {
	float: right;
	padding: 4px;
	width: 450px;
}
#circle_users_search_results {
	float: left;
	padding: 4px;
	width: 450px;
}
#circle_currencies {
	float: right;
	padding: 4px;
	width: 300px;
}
#circle_currencies_search_results {
	float: left;
	padding: 4px;
	width: 600px;
}
#circle_users_search_results li, #circle_currencies li {
	padding-left: 30px;
	list-style: none;
}

/* ----------NOT SURE WHAT THESE ARE FOR---------- */

fieldset.admin {
	padding: 10px 10px 10px 10px;
	background-color: #EEEEEE;
	line-height: .5em;
}

.emphasize {
	font-weight:bold;
}

.no_border {
	border:none;
}

fieldset.search_box {
	padding-top: 5px;	
	padding-bottom: 5px;
}
fieldset.search_box p {
	margin-top: 5px;
	margin-bottom: 5px;
}
img.clickable {
	cursor:pointer;
}

.pagination {
	margin-top: 20px;
	text-align: center;
}

.inline_area .question {
	display:inline;
}

.small_text {
	font-size: 86%;
}

.centered_text {
	width: 600px;
	margin: 20px auto 0 auto;
}
.centered_text.short {
	width: 170px;
	margin: 10px auto 0 auto;
}

.stats_filters td {
	padding: 5px;
	padding-top: 8px;
}

#hide_me_with_css {
	display: none;
}

.bottom_margin_10 {
	margin-bottom: 10px;
}


/* -------------- BANNERS ---------------------*/
#global_banner {
	padding: 5px;
	margin: 0;
	background-color: #570F15;
	border: 1px solid #af078d;
	color: #fff;
}
#global_banner a {
	color: #fff;
}

img.clickable {
	cursor:pointer;
}
.float_right {
	float: right;
	clear:both;
}

