<ul id="flowplace_nav">
<% if logged_in? %>

  <li><%= nav_link 'Circles',circles_path,'View and manage circles'%></li>
  <% if current_user.can?(:admin) %>
  <li><%= nav_link 'Currencies', currencies_path,'Create an manage currencies'%></li>
  <%end%>
	<% if current_user.can?(:accessAccounts) %>
	<li><%= nav_link 'Accounts',users_path,'Add or modify user accounts'%></li>
	<% end %>

	<% if current_user.can?(:admin) %>
	<li><%= nav_link 'Admin',admin_path,'Site Administration Options'%></li>
	<% end %>

<%end%>
</ul>
