<% if @resource.size == 1%>

<p>To reset your Flowplace password, please click the link below (or copy and paste it into your browser):</p>

<%= link_to 'Change my password', edit_password_url(@resource[0], :reset_password_token => @resource[0].reset_password_token) %>

<% else %>
<p>Multiple accounts are associated with your e-mail address.</p>
<p>To reset the password for one of the accounts, click on the link for that account.</p>
<% for resource in @resource %>
<p><%= link_to 'Change my password for account: '+resource.user_name, edit_password_url(resource, :reset_password_token => resource.reset_password_token) %></p>
<% end %>
<% end %>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
