<% @title='Admin' %>

<% if current_user.can?(:accessAccounts) %>
  <p class="home_title"><%= link_to 'Accounts', users_url%> </p>
	<% unless current_user.has_preference('terse') %>
		<% if current_user.can?(:admin) %>
	    	<div class="home_explanation">
				Add new accounts, change account privileges, delete accounts, etc.
			</div>	
	    <% else %>
			<div class="home_explanation">
				Look up accounts, update their info, etc.
			</div>	
	    <% end %>
	<% end %> 
<% end %>

<% if current_user.can?(:admin) %>
	<p class="home_title first_focus">Administrator Features</p>
	<ul>
		<li><%= link_to 'Logged-in users',logged_in_users_url %></li>
	</ul>
<% end %>

<% if current_user.can?(:dev) %>
	<p class="home_title">Developer Features</p>
	<ul class="ul_with_form">
		<li><%= link_to 'Site Version',version_url()%></li>
	</ul>	
<% end %>