<% @title='Logged Out' %>
<div class="bottom_margin_10">
Thanks for being part of the <%= configuration_text(:site_name)%>!
<br />
<p>You are now signed out.</p>
<%= link_to 'Log in again', login_url %>
</div >