<% @title='Manage' %>

<h3>Currencies</h3>
<li><%= link_to 'Create and Manage Currencies',currencies_url%></li>
<li>  <%= link_to 'Join Currency', join_currency_path %></li>

<h3>Circles</h3>
<li><%= link_to 'Circles',circles_url%></li>
