<h3>System Info</h3>
<p>
	<b>Current database:</b> <%= @current_database%>
</p>

<p>
	<b>Current version:</b> <%= @version%>
</p>

<p>
	<b>git log -15 (last 15 changes made to current version of system)</b> <pre><%= @git_log%></pre>
</p>