<% @title='Welcome' %>

<%= configuration_text(:welcome_text) %>

<% if Configuration.get(:new_user_policy) == 'self_signup' %>
<p>To start playing <%= link_to 'Sign Up!',new_user_registration_path,{:title => 'Sign Up'}%> or <%= link_to 'Log In',login_url,{:title => 'Log In'}%></p>
<% else %>
<%= render(:partial => 'shared/login')%>
<% end %>
