<% @title='Flowplace: Welcome' %>

<h1>Welcome to the Flowplace!</h1>

<p>Cool description of what we are up to here....</p>

<p>To start playing <%= link_to 'Sign Up!',signup_users_url,{:title => 'Sign Up'}%>

