<% @title='Flowplace: Welcome' %>

<h1>Welcome to the Flowplace!</h1>

<p>Cool description of what we are up to here....</p>

<% if CONFIG[:new_user_policy] == :self_signup %>
<p>To start playing <%= link_to 'Sign Up!',signup_users_url,{:title => 'Sign Up'}%> or <%= link_to 'Log In',login_path,{:title => 'Log In'}%></p>
<% else %>
<%= render(:partial => 'shared/login')%>
<% end %>
