<ul id="sub_nav">
  <li><%= sub_nav_link 'My', my_actions_path,'View my actions'%></li>
  <li><%= sub_nav_link 'All', weals_path,'Browse all actions'%></li>
  <li><%= sub_nav_link 'Create', new_action_path,'Create a new action'%></li>
</ul>
<p class="clear">