<ul id="sub_nav">
  <li><%= sub_nav_link 'My', my_assets_path,'View my assets'%></li>
  <li><%= sub_nav_link 'All', weals_path,'Browse all assets'%></li>
  <li><%= sub_nav_link 'Record', new_asset_path,'Record a new asset'%></li>
</ul>
<p class="clear">