<% @title='Edit Intention' %>

<h3>Edit Intention</h3>
<% form_for(@weal,:url => intention_path(@weal)) do |f| %>
	<%= render(:partial => 'f', :object => f) %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', intentions_path %>
