<% @title='Edit Weal' %>

<h3>Edit Weal</h3>
<% form_for(@weal) do |f| %>
	<%= render(:partial => 'f', :object => f) %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', weals_path %>
