<% @title='Place Intention' %>

<h3>Place Intention</h3>

<% form_for(@weal,:url => intentions_path) do |f| %>
 	<%= render(:partial => 'f', :object => f) %>
  <p>
    <%= f.submit "Place" %>
  </p>
<% end %>
