<% @title='Declare Intention' %>

<h3>Declare Intention</h3>

<% form_for(@weal,:url => intentions_path) do |f| %>
 	<%= render(:partial => 'f', :object => f) %>
  <p>
    <%= f.submit "Declare" %>
  </p>
<% end %>
