<% @title='Intentions: Declare' %>

<%= render(:partial => 'sub_nav_intentions') %>

<% form_for(@weal,:url => intentions_path) do |f| %>
 	<%= render(:partial => 'f', :object => f) %>
  <p>
    <%= f.submit "Declare" %>
  </p>
<% end %>
