
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>
			flowplace: Down
		</title><link href="/stylesheets/project.css" media="all" rel="stylesheet" type="text/css" />
	</head>
	
	<body >
	  
			<div id="top_bar">
				<div id="login_stuff">
				
				
			</div>
				<div class='wrap_to_center'>
				<div id="header">
					<img class='logo' src="/images/logo.png" height="50" width="50" alt="logo"><img class='logo' src="/images/logo_txt.jpg" alt="flowplace">
					<ul id="nav">

</ul>

				</div>
				</div>
			</div>
			<div class='wrap_to_center'>
			  
                <div id="page_content">
                        
<div class="bottom_margin_10">
The flowplace is currently down
<br />
</div >
                </div>
        
				<div id="footer">
					<span class="float_left">The flowplace is released under the GPL license.</span>
				</div>
			</div>
		<p>
			<iframe style="height:0px;width:0px;visibility:hidden" src="about:blank">This frame prevents back forward cache in Safari.</iframe> 
		</p>
	</body>
</html>