CONFIG = {
  :git_path => '/usr/local/bin/git'  #set a path for git so the sys_info command will return a git log
}

SMTP_SETTINGS  = {
  :address  => "mail.myflowplace.com",
  :port  => 25,
  :domain  => "myflowplace.com",
  :user_name  => "no-reply@myflowplace.com",
  :password  => 'mypassword',
  :authentication  => :login
}