<% @title = 'Reset Your Passowrd' %>


Passwords are case-sensitive: uppercase and lowercase matter. If you think you know your password but it's just not working, try changing the case. (Is your Caps Lock on?) Otherwise, request that your password and account name be e-mailed to you. 
<p>
Just give us your e-mail address (the one you use for the Flowplace web site) and we'll send you information on how to reset your password in a few minutes. 
<p>
<table cellpadding="0" cellspacing="0" border=0 width=500><tr><td>
	<% form_tag(forgot_passwords_url) do -%>
<fieldset>
<legend>Password Reset</legend>
<% unless @email_error.blank? -%>
    <p class="errortext"><% case @email_error
			    when :bad_email_format %>
				Please enter a valid e-mail address
			 <% when :no_identity_for_email %>
				We have no account associated with that e-mail address
			 <% end %>
		</p>
<% end -%>

<p>
  <label for="id">E-mail address:</label>
  <%= text_field_tag(:email,params[:email], :size=>40) %>
	<br />
	<span class="smalltext">Very important!  If you type this incorrectly, we will not be able to find your account information or 
	answer you. If you have multiple e-mail addresses, please be sure to give us the one you used to sign up for the flowplace.</span>
</p>
<%= submit_tag('Request Reset Password E-mail') %>
</fieldset><% end -%>
</td></tr></table>
<p>

