<% @title='Activities' %>
<h3> Activities </h3>
<table>
  <tr>
    <th>User</th>
    <th>Type</th>
    <th>Contents</th>
  </tr>

<% for activity in @activities %>
  <tr>
    <td><%=h activity.user.full_name %></td>
    <td><%= activity_type = activity.humanize.downcase; link_to activity_type,polymorphic_url(activity.activityable) %> </td>
    <td><%=h activity.contents %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @activities if !@activities.empty? %>
