<% @title="Currencies in #{h @circle.name}" %>
<%= render(:partial => 'sub_nav') %>
<% if @currencies.empty?%>
  There are no currencies in this circle.
  <p>To add a currency to a circle for now you have to use the matrice Bind Currency play from your <%=link_to 'Dashboard',dashboard_path %>
<% else %>
<table>
  <% for currency in @currencies %>
  <tr><td><%=currency.name%></td></tr>
  <% end %>
</table>
<% end %>