<% @title='Circles' %>
<%= render(:partial => 'sub_nav') %>

<table>
  <tr>
    <th>Name</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>

<% i = 0
for circle in @membranes 
  i+=1
%>
  <tr class="<%= i%2 == 0 ? ' odd' : ''%>">
    <td><%= render_currency_icon(circle,24) %> <%=link_to circle.name, @is_gatekeeper[circle] ? edit_circle_path(circle) : circle_path(circle)  %></td>
  </tr>
<% end %>
</table>
