<% @title='Circles' %>
<%= render(:partial => 'sub_nav') %>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for circle in @circles %>
  <tr>
    <td><%=link_to circle.name, edit_circle_path(circle)  %></td>
    <td><%= link_to 'Members', circle %></td>
    <td><%= link_to 'Delete', circle, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

